{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        ["array-includes"],
        ["transform-object-assign"],
        ["transform-decorators-legacy"],
        ["transform-object-rest-spread"]
    ]
}